body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 20px;
    padding: 10px;
}

h1 {
    color: #343a40;
    text-align: center;
}

form {
    margin: 20px 0;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button a {
    color: white;
    text-decoration: none; /* Ensure no underline */
}

button:hover {
    background-color: #0056b3;
}

button:hover a {
    text-decoration: none; /* Disable underline when hovering over the button */
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}
